* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 27, 96, 0.279);
    border-radius: 8px;
}

.exchange-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* align-items: center; */
    width: 100%;
}

.exchange-box h1 {
    text-align: center;
}

.exchange-box h1 span {
    color: #007bff;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.input-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-section img {
    width: 3.5rem;
    height: auto;
    display: block;
}

.input-section select,
.input-section input {
    flex: 1;
    width: auto;
    min-width: 0;
}

#validation {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.select-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.dropdown {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.flag-container {
    text-align: center;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.dropdown i:hover {
    color: #007bff;
    cursor: pointer;
}

button {
    border-radius: 5px;
    background: #b0e2ff;
    border: none;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.02);
    background-color: #69c6fb;
}

#result {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}